<div class="timer">
  <h2>Time Remaining: {{ formattedTime }}</h2>
</div>

<div class="test-container container my-5">
  <h1 class="text-center mb-4">Quiz Section: {{ sections[currentSectionIndex].title }}</h1>
  <div *ngIf="sections.length > 0">
    <div *ngFor="let question of sections[currentSectionIndex].questions; let i = index">
      <div class="card mb-4 animate__animated animate__fadeIn">
        <div class="card-body">
          <h3 class="card-title">{{ i + 1 }}. {{ question.question }}</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let option of question.options">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ question.question }}" 
                       [(ngModel)]="answers[question.question]" 
                       [value]="option" />
                <label class="form-check-label">{{ option }}</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="pagination-controls d-flex justify-content-between">
      <button class="btn btn-primary" (click)="previousSection()" [disabled]="currentSectionIndex === 0">Previous</button>
      <button class="btn btn-primary" (click)="nextSection()" [disabled]="currentSectionIndex === sections.length - 1">Next</button>
      
      <button class="btn btn-success" *ngIf="currentSectionIndex === sections.length - 1" 
              (click)="submitAnswers()">Submit</button>
    </div>
  </div>
</div>