<!-- home.component.html -->

<div class="container mt-5">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card animate__animated animate__fadeInLeft">
          <img src="../../assets/images/rrb.jpeg" class="card-img-top" alt="Card Image 1">
          <div class="card-body">
            <h5 class="card-title">RRB CBT for Technician Gr III</h5>
            <a href="/topics" class="btn btn-primary">Click To Open</a>
          </div>
        </div>
      </div>
  
      <!-- <div class="col-lg-4 col-md-6 mb-4">
        <div class="card animate__animated animate__fadeInUp">
          <img src="../../assets/images/rrb.jpeg" class="card-img-top" alt="Card Image 2">
          <div class="card-body">
            <h5 class="card-title">Jane Smith</h5>
            <p class="card-text">
              This is a simple card with an image and a name.
            </p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card animate__animated animate__fadeInRight">
          <img src="../../assets/images/rrb.jpeg" class="card-img-top" alt="Card Image 3">
          <div class="card-body">
            <h5 class="card-title">Alice Brown</h5>
            <p class="card-text">
              This is a simple card with an image and a name.
            </p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div> -->
    </div> 
  </div>
  